/* navbar styles */

.login-form {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 6px;
    font-size: 1.7em;
}

.login-form span {
    display: block;
    margin-bottom: 6px;
}

.login-form input {
    padding: 8px 5px;
    font-size: 1.0em;
    color: #777;
    width: 100%;
    box-shadow: 1.2px 1.2px 8px 0.1px rgb(250, 159, 159);
    /* rounded corners */
    border-radius: 15px;
}

.login {
    font-size: 2.5em;
}
/* .login-form:hover {
    box-shadow: 1px 1px 3px 1px rgb(87, 185, 78);
} */

