/* navbar styles */
.login-body {
    background-image: url("https://images.unsplash.com/photo-1637762044841-3116f48b7b79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    /* background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
     */
     /* background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding-bottom: 34px; */
    /* fills the page the rest of the way */
    /* padding-right: 0px;
    padding-left: 0px;
    padding-top: 200px;
    padding-bottom: 207.8px;
    margin: 0px;
    align-content: center; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

@media (min-width: 650px ) {
    .login {
        background-position: center center;
        align-items: flex-end;
        justify-content: center;
    }

    .login-body {
        align-items: flex-end;
        justify-content: center;
    }
}

.login-form {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    /* font-size: 22px;
    background: -webkit-linear-gradient(rgb(114, 113, 113), rgb(248, 59, 1) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.login-form label {
    display: block;
    margin-bottom: 6px;
    font-size: 1.7em;
}

.login-form span {
    display: block;
    margin-bottom: 6px;
    color: rgb(230, 218, 218);
}

.login-form input {
    padding: 8px 5px;
    font-size: 1.0em;
    color: #777;
    width: 100%;
    box-shadow: 1.2px 1.2px 8px 0.1px rgb(250, 159, 159);
    /* rounded corners */
    border-radius: 15px;
}

.login {
    font-size: 2.5em;
    /* font-size: 62px; */
    background: -webkit-linear-gradient(rgb(114, 113, 113) 33%, rgb(248, 59, 1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .login-form:hover {
    box-shadow: 1px 1px 3px 1px rgb(87, 185, 78);
} */

