.body {
  font-size: 14px;
    font-family: 'Genos', sans-serif;
    margin: 0px;
    font-size: 1.1em;
    padding: 0px;
    /* background-color: black; */
    background-image: url('../home/dark_mosaic.png');
    background-position: center; 
    opacity: 100%;
  color: white;
  background-repeat: repeat;
  /* use these below this line for unpatterned bg images */
    /* position: fixed; */
    /* min-width: auto; */
    /* min-height: 100%; */
    /* background-size: cover; */
    
  }

  /* EFFECTS */
  .line-glow {
    -webkit-box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.42), 0px 0px 6px 4px rgba(230, 97, 30, 0.726); 
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.42), 0px 0px 6px 4px rgba(230, 97, 30, 0.726);
  }
  
  .text-overlay-top-left {
    position: absolute;
    top: 18px;
    left: 16px;
  }

/* --------------------------------------------------------------------- */
  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
   /* padding for the gab between content and top/above body image */
    padding: 2px;
    grid-gap: 2px;
    position: relative;
    text-align: center;
    color: white;
  }

  .grid-item {
    background-color: rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* opacity: 50%; */
    -webkit-box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.42), 0px 0px 6px 4px rgba(230, 97, 30, 0.411); 
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.42), 0px 0px 6px 4px rgba(230, 97, 30, 0.322);
    padding: 2px;
    padding-top: 2px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item:hover {
    opacity: 85%;
    -webkit-box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.42), 0px 0px 6px 4px rgba(9, 73, 133, 0.77); 
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.42), 0px 0px 6px 4px rgba(9, 73, 133, 0.77);
    transition: 1s;
  }

.img-fluid {
  /* background-image: url('/images/horizon.png');  */
  position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center; 
    
}


  .container {
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 960px;
    margin: 60px;
    inline-size: auto; */

    /* new point */
    position: relative; 
  bottom: 0; 

  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  opacity: 100%;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  float: left;
  }

.header3 {
  font-size: 56px;
  opacity: 85%;
  text-shadow: 0 0 3px #424242, 0 0 2px #4b854b;
    /* font-size: 62px; */
    background: -webkit-linear-gradient(rgb(51, 51, 51) 33%, rgb(248, 59, 1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


  figcaption {
    box-sizing: border-box;
    position: absolute;
    bottom: 2rem;
    margin: 0 2rem;
  }

  .tabNav {
    justify-content: center;
    align-items: center;
  }

  .tabNav:hover {
    opacity: 85%;
  }

  .gridLayout:hover {
    opacity: 75%;

  }

  .content {
    padding-left: 30px;
  }

  .sidebar form {
    padding: 20px;
    background: green;
    border-radius: 10px;
  }

  .sidebar input, .sidebar select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    color: #555;
    font-size: 1em;
  }

  .sidebar label {
    margin: 0 auto 20px;
    display: block;
    color: white;
  }

  .sidebar button {
    color: white;
    border: 2px solid gray;
    padding: 6px 12px;
    background-color: transparent;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
  }

  .sidebar h3 {
    color: green;
    margin-bottom: 20px;
  }

  .sidebar aside {
    margin-top: 40px;
    color: gray;
  }

  .sidebar aside li {
    margin: 10px;
  }

.announcements {
  border: 2px solid black;
  outline: #4CAF50 solid 10px;
  margin: auto;  
  padding: 20px;
  text-align: center;
}