body{
    font-family: 'Audiowide', cursive;
    text-shadow: 1px 0.3px 1px rgb(203, 211, 202);
    font-size: 26px;
    
}

.profile-img {
    float: left;
    width: 50%;
    height: 50%;
    margin: 0 6px 0 0;
}

.top-badge-color {
    border-top: 2px dashed red;
    padding: 0px;
}

.card-side-info {
    text-align: left;
    font-size: 15px;
    color: rgb(248, 247, 247);
    text-shadow: 0px 0px 0px rgb(8, 8, 8);
}

.essential {
    color: gold;
    /* font-size: 14px; */
}

/* .non-essential {
    color: blue;
} */


.profile-name {
    font-size: 26px;
    color: rgb(206, 206, 206);
}
.card {
    box-shadow: 0 4px 4px 0 rgba(230, 225, 225, 0.2);
    max-width: 300px;
    background: linear-gradient(to top, #0b531dd7 -24%, #a32e0a7c 100%);
    /* margin: auto; */
    text-align: center;
    /* background-color: rgb(194, 190, 190); */
   /* max-width: auto; */
   margin: 100px;
   box-shadow: 0px 8px 15px -2px rgb(21, 138, 10);
  }
  
  .title {
    color: white;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 12px;
    color: white;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  hr.badge-color {
    border: 10px solid red;
    border-radius: 5px;
  }

  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
    color: black;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
  }
  
  .access-groups{
    padding: 3px;
    font-size: 30px;
  }
  
  .fa-color {
    color: black;
  }


.access-escort-1 {
    background-color: rgb(221, 89, 28);
}
.access-escort-2 {
    background-color: rgb(221, 89, 28);
}
.access-escort-3 {
    background-color: rgb(221, 89, 28);
}
.access-escort-4 {
    background-color: rgb(221, 89, 28);
}
.access-escort-5 {
    background-color: rgb(221, 89, 28);
}
.access-escort-6 {
    background-color: rgb(221, 89, 28);
}
.access-escort-7 {
    background-color: rgb(221, 89, 28);
}
.access-escort-8 {
      background: green;
  }


  /* Empty Card */
  .card-2 {
    box-shadow: 0 4px 4px 0 rgba(230, 225, 225, 0.2);
    max-width: 300px;
    background: linear-gradient(to top, #0b531dd7 -24%, #a32e0a7c 100%);
    /* margin: auto; */
    text-align: center;
    /* background-color: rgb(194, 190, 190); */
   /* max-width: auto; */
   box-shadow: 0px 8px 15px -2px rgb(21, 138, 10);
   margin: 0px;
  }

  .drag-badge{
    background-color: black;
    padding: 1rem;
    margin-top: 1rem;
    

  }


  /* Draggable Features */
  .draggable-1 {
    cursor: move;

  }

  .draggable-2 {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
  }

  .select-fade {
    /* box-shadow: 0px 4px 15px -2px rgba(138,10,18,1);
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px; */
    opacity: 1.0;
    transition: 0.3s;
  }
  
  .select-fade:hover {
      opacity: 0.7;
      transition: 1.0s;
      background-color: rgb(29, 214, 16);
      box-shadow: 0px 4px 15px -2px rgb(242, 245, 242);
    }

    .proj-1:hover {
        opacity: 0.9;
        transition: 0.2s;
    }

    .proj-2:hover {
        opacity: 2.0;
        transition: 0.3s;
        color: gold;
    }

    .dragging {
      opacity: 0.5;
    }

    .grid-container-1 {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 18px;
      padding: 15px;
    }
    
    .grid-container-1 > div {
      text-align: center;
    padding: 6px 0;
    font-size: 16px;
    }
