.container-styles {
  border-radius: 25px;
  width: 20%;
padding: 12px 20px;
margin: 18px 0;
box-sizing: border-box;
color: coral;
opacity: 75%;
background: rgb(1,1,1);
background: linear-gradient(25deg, rgba(1,1,1,1) 0%, rgba(6,51,79,1) 54%, rgba(7,51,79,1) 58%, rgba(0,0,0,1) 100%);
border: solid #ec660715 1px; 
box-shadow: 0 0 0px rgba(252, 249, 247, 0.411); 
-webkit-box-shadow: 0 0 30px rgba(252, 249, 247, 0.411); 
-moz-box-shadow: 0 0 7px rgba(252, 249, 247, 0.411);  
  display: flex;
}

.page-title {
  text-shadow: 3px 3px 3px rgba(201, 116, 56, 1);
  font-size: 50px;
}

label {
  font-size: 20px;
}



@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}