.stages-animation {
    background: linear-gradient(34deg, rgb(1, 27, 56) 8%, rgb(133, 0, 0) 10%, rgb(42, 42, 42) 32%, rgba(0,0,0,1) 42%, rgb(54, 54, 54) 56%, rgba(15,15,15,1) 77%, rgb(85, 38, 11) 92%);
         background-size:  400% 400%;
         animation: gradient 10s ease infinite;
         
         display: flex;
         /* justify-content: center;
         align-items: center; */
         width: 100%;
         padding: 30px;
         
}

@keyframes gradient {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }