/* navbar styles */

.navbar {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    /* background-image: url("https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
    position: fixed; 
    background-size: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    /* fixes screen resizing upon hover over login / signup */
    /* additonal underline effect under navbar */
    position: relative;
    background-color: rgb(173, 172, 172);
}

.navbar ul {
    display: flex;
    margin: auto; 
    max-width: 960px;
    align-items: center;
}

.title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.8em;
    /* text-shadow: 0.1px 0.1px 3px #c44f4f; */
    background: -webkit-linear-gradient(rgb(54, 50, 50) 33%, rgb(238, 61, 7) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.navbar button, .navbar a {
    margin-left: 16px;
}


.navbar a {
    color: rgb(15, 7, 7);
    text-decoration: none;
}

.link-text {
    font-size: 1.4em;
    font-weight: bold;
    
}

.link-text:hover {  
    display: inline;
    position: sticky;
    overflow: hidden;
    font-size: 1.5em;
    opacity: 0.7;
      transition: 2.0s;
      text-shadow: 0 0 3px #FF0000, 0 0 5px #ec5a05;
}

/* .link-text:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: rgb(246, 50, 50);
    height: 4px;
    transition-duration: 1.3s;
    transition-timing-function: ease-out;

}

.link-text:hover:after, 
.link-text:focus:after,
.link-text:active:after {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    transition-duration: 1.3s;
    left: 0;
    right: auto;
    width: 100%;
} */