.users-list {
    width: 250px;
    min-width: 200px;
    padding: 30px;
    box-sizing: border-box;
    background: rgb(199, 3, 3);
    color: coral;
}

.users-list h2 {
    text-align: right;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    font-size: 1.2em;
}

.users-list .users-list-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px auto;
}

.circle {
    display: block;
    margin-right: 1px;
    width: 12px;
    height: 12px;
    background:rgb(105, 240, 116);
    border-radius: 100%;
    margin-top: 6px;
}
