/* body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(233, 225, 225);
    
} */

/* header {
    padding: 0px;
    background: blue;
    height: 100%;

} */

.sidebar {
    max-width: 240px;
    background: black;
    position: relative;
    height: 50%;
    padding: 0 30px;
    transition: all 1s;
    margin-top: 30px;
    z-index: 100;
}



/* ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: rgb(78, 28, 28);
    text-decoration: none;
    font-size: 15px;
}

ul li a:hover, 
ul li a:hover 
{

} */

