.signup-body {
    background-image: url("https://images.unsplash.com/photo-1637762044841-3116f48b7b79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    /* background-color: black; */
}

.signup {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.signup-form {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    /* font-size: 22px;
    background: -webkit-linear-gradient(rgb(114, 113, 113), rgb(248, 59, 1) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.signup-form label {
    display: block;
    margin-bottom: 6px;
    font-size: 1.7em;
}

.signup-form span {
    display: block;
    margin-bottom: 6px;
    color: rgb(230, 218, 218);
}

.signup-form input {
    padding: 8px 5px;
    font-size: 1.0em;
    color: #777;
    width: 100%;
    box-shadow: 1.2px 1.2px 8px 0.1px rgb(250, 159, 159);
    /* rounded corners */
    border-radius: 5px;
}

.signup {
    font-size: 2.5em;
    /* font-size: 62px; */
    background: -webkit-linear-gradient(rgb(114, 113, 113) 33%, rgb(248, 59, 1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}