body {
  font-family: 'Genos', sans-serif;
  margin: 0;
  font-size: 1.1em;
}

ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.btn {
  background: red;
  border: 2px solid green;
  padding: 6px 11px;
  border-radius: 4px; 
  color: green;
  font-weight: bold; 
  cursor: pointer;
  font-size: 1em;
}

.btn:hoger {
  background: green;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
