body {
  font-family: 'Genos', sans-serif;
  margin: 0px;
  font-size: 1.1em;
  padding: 0px;
  color: black;
}

ul, li, p, h1, h2, h3, h4 {
  margin: 5px;
  padding: 5px;
}

ul {
  list-style-type: none;
}

.btn {
  background: rgb(255, 255, 255);
  border: 1px solid green;
  padding: 6px 11px;
  border-radius: 4px; 
  color: rgb(224, 231, 224);
  font-weight: bold; 
  cursor: pointer;
  font-size: 1em;
  
}

.btn:hover {
  background: rgb(155, 177, 155);
  color: white;
  box-shadow: 1px 1px 3px 1px rgb(87, 185, 78);
}

.logout-btn {
  background: transparent;
  border: 1px solid rgb(230, 129, 15);
  padding: 6px 11px;

  color: rgb(224, 231, 224);
  font-weight: bold; 
  cursor: pointer;
  font-size: 1em;
}



.logout-btn:hover {
  display: inline;
    position: sticky;
    overflow: hidden;
    font-size: 1.1em;
    opacity: 0.7;
      transition: 2.0s;
      text-shadow: 0 0 3px #FF0000, 0 0 5px #ec5a05;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

