
/* background image and general styling */
.img-fluid {
  /* patterned backgrounds */
  background-image: url('../home/dark_mosaic.png');
  /* position: fixed; */
  /* min-width: 100%;
    min-height: 100%; */

  /* background-position: center; 
    background-size: cover;
  background-repeat: repeat; */

  /* overflow: auto; */
  /* non-patterned backgrounds */
  /* background-image: url('/images/horizon.png');  */
  /* background-size: cover;  */
}

/* project overview */
