.project-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* align-items: start; */
  grid-gap: 60px;
  color: rgb(252, 0, 0);
  font-weight: bold;
  font-size: 1.3em;
}

.project-overview-span {
  color: white;
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
  /* border: 3px solid green; */
}

.project-button-styles {
  padding: 15px 32px;

}

.processing-duration-label {
  color: white;
}

.container-details {
  border-radius: 25px;
  padding: 12px 10px;
  margin: 18px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  opacity: 100%;
  /* background-color: rgb(13, 16, 54); */
  background: rgb(190, 190, 190);
  /* background: linear-gradient(25deg, rgba(1, 1, 1, 1) 24%, rgba(5, 39, 60, 1) 60%, rgba(5, 39, 60, 1) 70%, rgba(0, 0, 0, 1) 100%); */
  border: solid #ec660715 1px;
  box-shadow: 0 0 7px rgba(252, 249, 247, 0.411);
  -webkit-box-shadow: 0 0 30px rgba(252, 249, 247, 0.411);
  -moz-box-shadow: 0 0 7px rgba(252, 249, 247, 0.411);
  /* display: flex;
  display: grid; */
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 60px;
  text-align: left;
}

.forms {
  border-radius: 25px;
  width: 20%;
  padding: 12px 20px;
  margin: 18px 0;
  box-sizing: border-box;
  color: coral;
  opacity: 75%;
  background: rgb(1, 1, 1);
  background: linear-gradient(25deg, rgba(1, 1, 1, 1) 0%, rgba(6, 51, 79, 1) 54%, rgba(7, 51, 79, 1) 58%, rgba(0, 0, 0, 1) 100%);
  border: solid #ec660715 1px;
  box-shadow: 0 0 0px rgba(252, 249, 247, 0.411);
  -webkit-box-shadow: 0 0 30px rgba(252, 249, 247, 0.411);
  -moz-box-shadow: 0 0 7px rgba(252, 249, 247, 0.411);
  display: flex;
}

.details-table {
  /* padding: 4px; */
  /* margin-top: 180px; */
  /* grid-template-columns: 3fr 2fr; */
  align-items: center;
  /* grid-gap: 60px; */
  text-align: center;
  /* font-size: 1.0em; */
  position: initial;
}

.details-table-color {
  background-color: magenta;
}

/* background image and general styling */
.img-fluid {
  /* patterned backgrounds */
  background-image: url('../home/dark_mosaic.png');
  /* position: fixed; */
  /* min-width: 100%;
    min-height: 100%; */

  /* background-position: center; 
    background-size: cover;
  background-repeat: repeat; */

  /* overflow: auto; */
  /* non-patterned backgrounds */
  /* background-image: url('/images/horizon.png');  */
  /* background-size: cover;  */
}

/* project overview */
.project-overview {
  /* background-color: rgb(61, 60, 60);
  padding: 30px; */
  margin: 100px;
  /* position: initial; */
  padding: 20px;
  /* border-radius: 3px;
  color: white;
  text-align: left;
  font-size: 1.3em; */
  /* grid-template-columns: 3fr 2fr; */
}

.project-overview .due-date {
  margin: 10px 0;

  color: var(--title-color);
}

.project-summary .details {
  margin: 30px 0;
  color: var(--text-color);
  line-height: 1.8em;
  font-size: 0.9em;
}

.project-overview h4 {
  color: var(--text-color);
  font-size: 0.9em;
}

.project-overview .assigned-users {
  display: flex;
  margin-top: 20px;
}

.project-summary .assigned-users .avatar {
  margin-right: 10px;
  color: black;
}

.project-overview+.btn {
  margin-top: 20px;
}

/* project comments */
.project-comments label {
  margin-bottom: 0px;
}

.project-comments textarea {
  min-height: 40px;
  font-size: 1.5em;
}

/* comment list */
.project-added-details h4 {
  color: red;
}

.project-added-details li {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.detail-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}

.detail-author .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.detail-date {
  color: rgb(0, 0, 0);
  font-size: 1.0em;
  margin: 4px 0 10px;
  font-weight: bold;
}

.detail-timestamp {
  color: red;
  font-size: 1.9em;
}